{% extends "base.html" %}
{% block title %} Data Analyst {% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block content %}
<div class="centered-form" > <!-- Thêm lớp center-content để căn giữa -->
    <form action="{{url_for('main.calculate_result')}}" method="POST" enctype="multipart/form-data" class="mt-4 center"> <!-- Thêm lớp centered-form -->
        <div class="mb-3"> 
            <label for="file" class="form-label mb-5 "><h2 class="fw-bold shadow-light">Upload file to calculate keyword trending</h2></label>
            <input type="file" class="form-control mb-4" id="file" name="file" accept=".xlsx, .xls, .csv" required>
            
        </div>
        <div class="mb-4">
            <button type="submit" class="btn btn-primary rounded-pill">Calculate</button>
        </div>
        
        <small class="form-text text-muted">
            Vui lòng chọn file Excel định dạng .xlsx, .xls hoặc .csv để tiến hành tính toán.<br>
            File phải đúng tên các cột: Keyword, Search Volume (Global), CPC (Global), Competition (Global) và các cột ngày tháng ở dạng datetime <br>
         
        </small>
    </form>
    
</div>
{% endblock %}
